<mat-sidenav-container class="layout-container">
  <mat-sidenav
    #drawer
    class="application-sidebar"
    [mode]="isMobile() ? 'over' : 'side'"
    [opened]="!isMobile()"
    [fixedInViewport]="isMobile()"
  >
    <app-sidebar
      (navigationSelected)="
        closeSidebarOnMobile(drawer)
      "
    ></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header
      (menuToggle)="drawer.toggle()"
    ></app-header>

    <main class="page-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
