<mat-toolbar class="app-header">
  <button
    mat-icon-button
    type="button"
    aria-label="Toggle navigation menu"
    matTooltip="Menu"
    (click)="toggleMenu()"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <a class="brand" href="/dashboard">
    AngularHub
  </a>

  <span class="toolbar-spacer"></span>

  @if (currentUser(); as user) {
    <div class="user-summary">
      <div class="user-avatar">
        {{ user.firstName.charAt(0) }}
        {{ user.lastName.charAt(0) }}
      </div>

      <div class="user-information">
        <span class="user-name">
          {{ user.firstName }} {{ user.lastName }}
        </span>

        <span class="user-role">
          {{ user.role }}
        </span>
      </div>
    </div>
  }

  <button
    mat-icon-button
    type="button"
    aria-label="Logout"
    matTooltip="Logout"
    (click)="logout()"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
